.container {
    border-radius: 20px;
    background-color: var(--White, #fff);
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 13px;
  }

  .header-image {
    width: 100%;
    aspect-ratio: 8.33;
    object-fit: auto;
    object-position: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 13px;
    margin-top: 22px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    white-space: nowrap;
  }

  .back-link {
    color: #968ce0;
    font: 500 16px Inter, sans-serif;
  }

  .page-title {
    color: var(--Black, #000);
    text-align: center;
    flex-grow: 1;
    font: 600 30px Inter, sans-serif;
  }

  .ongoing-activity {
    color: #35251e;
    font: 600 20px Inter, sans-serif;
    margin-top: 54px;
  }

  .stats {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    padding: 0 1px;
    margin-top: 30px;
  }

  .stats-image {
    width: 87px;
    aspect-ratio: 1.03;
    object-fit: auto;
    object-position: center;
    border-radius: 17.766px;
    box-shadow: -0.888px -0.888px 1.777px 0px rgba(220, 220, 220, 0.5) inset,
      -8.883px 8.883px 17.766px 0px rgba(220, 220, 220, 0.2),
      8.883px -8.883px 17.766px 0px rgba(220, 220, 220, 0.2),
      -8.883px -8.883px 17.766px 0px rgba(255, 255, 255, 0.9),
      8.883px 8.883px 22.208px 0px rgba(220, 220, 220, 0.9);
    margin-top: 4px;
  }

  .calories {
    font-family: Poppins, sans-serif;
    border-radius: 17.766px;
    box-shadow: -0.888px -0.888px 1.777px 0px rgba(220, 220, 220, 0.5) inset,
      -8.883px 8.883px 17.766px 0px rgba(220, 220, 220, 0.2),
      8.883px -8.883px 17.766px 0px rgba(220, 220, 220, 0.2),
      -8.883px -8.883px 17.766px 0px rgba(255, 255, 255, 0.9),
      8.883px 8.883px 22.208px 0px rgba(220, 220, 220, 0.9);
    background-color: #fff;
    width: 86px;
    height: 86px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 57px;
  }

  .past-exercises-title {
    color: #35251e;
    font: 600 20px Inter, sans-serif;
    margin-top: 58px;
  }

  .exercise-card {
    border-radius: 17.766px;
    box-shadow: -0.888px -0.888px 1.777px 0px rgba(220, 220, 220, 0.5) inset,
      -8.883px 8.883px 17.766px 0px rgba(220, 220, 220, 0.2),
      8.883px -8.883px 17.766px 0px rgba(220, 220, 220, 0.2),
      -8.883px -8.883px 17.766px 0px rgba(255, 255, 255, 0.9),
      8.883px 8.883px 22.208px 0px rgba(220, 220, 220, 0.9);
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 23px 19px 10px;
    margin-top: 38px;
  }

  .exercise-name {
    color: #35251e;
    font: 600 15px Inter, sans-serif;
  }

  .exercise-details {
    display: flex;
    gap: 17px;
    font-weight: 400;
    margin-top: 10px;
  }

  .exercise-date {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin: auto 0;
  }

  .date-label {
    color: var(--Gray-03, #bdbdbd);
    text-align: right;
    font: 12px Inter, sans-serif;
    margin-left: 10px;
  }

  .date-value {
    color: var(--Black, #000);
    font: 16px Inter, sans-serif;
    margin-top: 10px;
  }

  .exercise-time {
    display: flex;
    flex-direction: column;
  }

  .time-label {
    color: var(--Gray-03, #bdbdbd);
    text-align: right;
    font: 12px Inter, sans-serif;
  }

  .time-value {
    color: var(--Black, #000);
    font: 16px Inter, sans-serif;
    margin-top: 12px;
  }

  .exercise-hr {
    display: flex;
    flex-direction: column;
  }

  .hr-cal-labels {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 12px;
    color: var(--Gray-03, #bdbdbd);
    text-align: right;
  }

  .hr-label,
  .cal-label {
    font-family: Inter, sans-serif;
  }

  .hr-cal-values {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 16px;
    color: var(--Black, #000);
    margin-top: 9px;
  }

  .hr-value,
  .cal-value {
    font-family: Inter, sans-serif;
  }

  .bottom-images {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    align-self: center;
    margin-top: 44px;
  }

  .bottom-image {
    width: 60px;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
  }

  .bottom-image.wide {
    width: 230px;
    aspect-ratio: 3.85;
    fill: #d5cfff;
  }