.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .HomeScreen {
    background-color: white;
    font-size: calc(10px + 2vmin);
    color: black;
  }
  
.header {
    justify-content: center;
}

  
  .App-link {
    color: #61dafb;
  }
  