.div {
    border-radius: 20px;
    background-color: var(--White, #fff);
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .login {
    color: var(--Black, #000);
    text-align: center;
    margin-top: 23px;
    font: 600 30px Inter, sans-serif;
  }
  .email {
    border-radius: 8px;
    background-color: rgba(246, 246, 246, 1);
    border-color: rgba(232, 232, 232, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 33px;
    width: 343px;
    max-width: 100%;
    align-items: start;
    color: var(--Gray-03, #6a6a6a);
    white-space: nowrap;
    justify-content: center;
    padding: 19px 16px;
    font: 500 16px Inter, sans-serif;
  }
  .passwordbox {
    border-radius: 8px;
    background-color: rgba(246, 246, 246, 1);
    border-color: rgba(232, 232, 232, 1);
    border-style: solid;
    border-width: 1px;
    display: flex;
    margin-top: 16px;
    width: 100%;
    max-width: 343px;
    gap: 20px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    justify-content: space-between;
    padding: 19px 16px;
  }
  .password {
    color: var(--Gray-03, #6a6a6a);
    font-family: Inter, sans-serif;
  }
  .showbutton {
    color: #968ce0;
    text-align: right;
    font-family: Inter, sans-serif;
  }
  .loginbutton {
    align-items: center;
    border-radius: 4px;
    background-color: #968ce0;
    margin-top: 167px;
    width: 100%;
    max-width: 343px;
    color: var(--White, #fff);
    text-align: center;
    justify-content: center;
    padding: 16px 32px;
    font: 600 16px Inter, sans-serif;
  }
  .forgetpass {
    color: #968ce0;
    margin-top: 19px;
    font: 600 16px Inter, sans-serif;
  }
  .div2 {

  
    border-radius: 4px;
    background-color: #ccced3;
    align-self: stretch;
    display: flex;
    margin-top: 25px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }